*,
*:before,
*:after {
  box-sizing: border-box;
}

.red {
  color: red;
}

body {
  color: #1a1a1a;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 16px;
}

/* Form Elements */
.mdl-btn,
.mdl-form-control:not([row]),
.mdl-form-select:not([multiple]) {
  height: 36px;
  white-space: nowrap;
}

.mdl-btn,
.mdl-form-control,
.mdl-form-select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  border: 1px solid #c5c5c5;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  line-height: 16px;
  outline: 0;
  padding: 8px 16px;
  transition-property: background-color, border, box-shadow;
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.64, 0, 0.35, 1);
}

.mdl-btn[disabled] {
  background-color: rgba(0, 0, 0, 0.12);
  box-shadow: none;
  color: rgba(0, 0, 0, 0.37);
  cursor: default;
}

.mdl-btn {
  border: none;
  background-color: rgba(18, 118, 211, 1);
  font-weight: 500;
  text-transform: uppercase;
  color: #fff;
}

.mdl-btn:focus:not([disabled]),
.mdl-btn:hover:not([disabled]) {
  background-color: rgba(20, 130, 235, 1);
}

.mdl-btn:active:not([disabled]) {
  background-color: rgb(44, 143, 237);
}

.mdl-btn--outlined,
.mdl-btn--text,
.mdl-btn--icon {
  background-color: transparent;
  border: none;
  color: rgba(18, 118, 211, 1);
}

.mdl-btn--outlined {
  border: 1px solid #c5c5c5;
}

.mdl-btn--outlined[disabled],
.mdl-btn--text[disabled] {
  background: transparent;
}

.mdl-btn--icon {
  border-radius: 50%;
}

.mdl-btn--icon[disabled] {
  background-color: transparent;
  opacity: 0.3;
}

.mdl-btn--icon:focus:not([disabled]),
.mdl-btn--icon:hover:not([disabled]) {
  background-color: #f5f5f5;
}

.mdl-btn--icon:active:not([disabled]) {
  background-color: #e1e1e1;
}

.mdl-btn--text:focus:not([disabled]),
.mdl-btn--text:hover:not([disabled]),
.mdl-btn--outlined:focus:not([disabled]),
.mdl-btn--outlined:hover:not([disabled]) {
  background-color: rgba(18, 118, 211, 0.05);
}

.mdl-btn--text:active:not([disabled]),
.mdl-btn--outlined:active:not([disabled]) {
  background-color: rgba(18, 118, 211, 0.1);
}

.mdl-form-control:hover:not([disabled]),
.mdl-form-select:hover:not([disabled]),
.mdl-form-control:focus:not([disabled]),
.mdl-form-select:focus:not([disabled]) {
  border-color: rgba(18, 118, 211, 1);
  box-shadow: 0 0 0 1px rgba(18, 118, 211, 1);
}

.mdl-form-select:not([multiple]) {
  background: url("/src/assets/images/baseline-arrow_drop_down-24px.svg")
    no-repeat center right 2px/16px;
  padding-right: 24px;
}

.mdl-icon,
.mdl-btn--icon {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 24px;
  display: inline-block;
  height: 36px;
  overflow: hidden;
  text-indent: 200%;
  white-space: nowrap;
  width: 36px;
}

.mdl-icon--chevron-right {
  background-image: url("/src/assets/images/baseline-chevron_right-24px.svg");
}

.mdl-icon--chevron-left {
  background-image: url("/src/assets/images/baseline-chevron_left-24px.svg");
}

/* Table */
.mdl-table {
  border-collapse: collapse;
  font-size: 13px;
  line-height: 16px;
  width: 100%;
}

.mdl-table__row,
.mdl-table__row-details {
  border-bottom: 1px solid #e1e1e1;
}

.mdl-table__row--expanded {
  border-bottom: 0;
}

.mdl-table__row-details > td {
  padding-left: 44px;
}

.mdl-table__row + .mdl-table__row-details {
  display: none;
}

.mdl-table__row--expanded + .mdl-table__row-details {
  display: table-row;
}

.mdl-table__header,
.mdl-table__cell {
  padding: 16px 8px;
  text-align: left;
}

.mdl-table__header--numeric,
.mdl-table__cell--numeric {
  text-align: right;
}

.mdl-table--sortable .mdl-table__cell--numeric {
  padding-right: 32px;
}

.mdl-table__header {
  color: #767676;
  font-size: 12px;
  font-weight: 700;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
}

.mdl-table__header[data-sort-key] {
  cursor: pointer;
}

.mdl-table__header--sort-asc,
.mdl-table__header--sort-desc {
  color: #1a1a1a;
}

.mdl-table__sort-icon {
  display: inline-block;
  height: 16px;
  margin-left: 4px;
  vertical-align: top;
  width: 16px;
}

.mdl-table__header--sort-asc .mdl-table__sort-icon,
.mdl-table__header--sort-desc .mdl-table__sort-icon {
  background: url("/src/assets/images/baseline-arrow_upward-24px.svg") center
    center/16px no-repeat;
}

.mdl-table__header--sort-desc .mdl-table__sort-icon {
  background-image: url("/src/assets/images/baseline-arrow_downward-24px.svg");
}

.mdl-table__cell--toggle {
  max-width: 36px;
  padding: 0;
  width: 36px;
}

.mdl-table__details-toggle {
  background: url("/src/assets/images/baseline-expand_more-24px.svg") center
    center/16px no-repeat;
}

.mdl-table__row--expanded .mdl-table__details-toggle {
  background-image: url("/src/assets/images/baseline-expand_less-24px.svg");
}

.mdl-table__row-details > td:first-child {
  padding-top: 0;
}

/* Pagination */
.mdl-pagination {
  display: flex;
  font-size: 12px;
  justify-content: flex-end;
  padding: 16px 0;
}

.mdl-pagination > div {
  color: #767676;
  margin-left: 20px;
}

.mdl-pagination .mdl-btn,
.mdl-pagination .mdl-form-select {
  font-size: 12px;
  padding: 0 8px;
  height: 32px;
}

.mdl-pagination .mdl-btn--icon {
  width: 32px;
}

.mdl-pagination .mdl-form-select {
  padding-right: 16px;
}
