*,
*:before,
*:after {
  box-sizing: border-box;
}

.red {
  color: red;
}

body {
  background-color: #f2f2f2;
  color: #1a1a1a;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 16px;
}

section {
  margin-bottom: 16px;
}

h2 {
  font-weight: 500;
}

/* Card */
.mdwc-card {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
  padding: 20px 16px 16px;
}

.mdwc-card > *:first-child {
  margin-top: 0;
}

/* Form Elements */
.mdwc-btn,
.mdwc-form-control:not([row]),
.mdwc-form-select:not([multiple]) {
  height: 36px;
  white-space: nowrap;
}

.mdwc-btn,
.mdwc-form-control,
.mdwc-form-select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  border: 1px solid #c5c5c5;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  line-height: 16px;
  outline: 0;
  padding: 8px 16px;
  transition: background-color, border, box-shadow, color,
    0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.mdwc-btn {
  border: none;
  background-color: rgba(18, 118, 211, 1);
  font-weight: 600;
  color: #fff;
}

.mdwc-btn:focus:not([disabled]),
.mdwc-btn:hover:not([disabled]) {
  background-color: rgba(20, 130, 235, 1);
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.mdwc-btn:active:not([disabled]) {
  background-color: rgb(44, 143, 237);
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14),
    0 1px 10px 0 rgba(0, 0, 0, 0.12);
}

.mdwc-btn[disabled] {
  background-color: rgba(0, 0, 0, 0.12);
  box-shadow: none;
  color: rgba(0, 0, 0, 0.37);
  cursor: default;
}

.mdwc-btn--outlined,
.mdwc-btn--text,
.mdwc-btn--icon {
  background-color: transparent;
  border: none;
  color: rgba(18, 118, 211, 1);
}

.mdwc-btn--outlined {
  border: 1px solid #c5c5c5;
}

.mdwc-btn--outlined[disabled],
.mdwc-btn--text[disabled] {
  background: transparent;
}

.mdwc-btn--icon {
  border-radius: 50%;
}

.mdwc-btn--icon[disabled] {
  background-color: transparent;
  opacity: 0.3;
}

.mdwc-btn--icon:focus:not([disabled]),
.mdwc-btn--icon:hover:not([disabled]) {
  background-color: #f5f5f5;
  box-shadow: none;
}

.mdwc-btn--icon:active:not([disabled]) {
  background-color: #e1e1e1;
}

.mdwc-btn--text:focus:not([disabled]),
.mdwc-btn--text:hover:not([disabled]),
.mdwc-btn--outlined:focus:not([disabled]),
.mdwc-btn--outlined:hover:not([disabled]) {
  background-color: rgba(18, 118, 211, 0.05);
  box-shadow: none;
}

.mdwc-btn--text:active:not([disabled]),
.mdwc-btn--outlined:active:not([disabled]) {
  background-color: rgba(18, 118, 211, 0.1);
}

.mdwc-form-control:hover:not([disabled]),
.mdwc-form-select:hover:not([disabled]),
.mdwc-form-control:focus:not([disabled]),
.mdwc-form-select:focus:not([disabled]) {
  border-color: rgba(18, 118, 211, 1);
  box-shadow: 0 0 0 1px rgba(18, 118, 211, 1);
}

.mdwc-form-select:not([multiple]) {
  background: url("/src/assets/images/baseline-arrow_drop_down-24px.svg")
    no-repeat center right/20px;
  padding-right: 20px;
}

.mdwc-form-select::-ms-expand {
  display: none;
}

.mdwc-icon,
.mdwc-btn--icon {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 20px;
  display: inline-block;
  height: 36px;
  overflow: hidden;
  text-indent: 200%;
  white-space: nowrap;
  width: 36px;
}

.mdwc-icon--chevron-right {
  background-image: url("/src/assets/images/baseline-chevron_right-24px.svg");
}

.mdwc-icon--chevron-left {
  background-image: url("/src/assets/images/baseline-chevron_left-24px.svg");
}

/* Table */
.mdwc-table {
  border-collapse: collapse;
  font-size: 13px;
  width: 100%;
}

.mdwc-table__row,
.mdwc-table__row-details {
  border-bottom: 1px solid #e1e1e1;
}

.mdwc-table__row--expanded {
  border-bottom: 0;
}

.mdwc-table__row-details > td {
  padding-left: 44px;
}

.mdwc-table__row + .mdwc-table__row-details {
  display: none;
}

.mdwc-table__row--expanded + .mdwc-table__row-details {
  display: table-row;
}

.mdwc-table__header,
.mdwc-table__cell {
  padding: 16px 8px;
  text-align: left;
}

.mdwc-table__header--numeric,
.mdwc-table__cell--numeric {
  text-align: right;
}

.mdwc-table--sortable .mdwc-table__cell--numeric {
  padding-right: 32px;
}

.mdwc-table__header {
  color: #767676;
  font-size: 12px;
  font-weight: 500;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
}

.mdwc-table__header[data-sort-key] {
  cursor: pointer;
}

.mdwc-table__header--sort-asc,
.mdwc-table__header--sort-desc {
  color: #1a1a1a;
}

.mdwc-table__sort-icon {
  display: inline-block;
  height: 16px;
  margin-left: 4px;
  vertical-align: text-bottom;
  width: 16px;
}

.mdwc-table__header--sort-asc .mdwc-table__sort-icon,
.mdwc-table__header--sort-desc .mdwc-table__sort-icon {
  background: url("/src/assets/images/baseline-arrow_upward-24px.svg") center
    center/16px no-repeat;
}

.mdwc-table__header--sort-desc .mdwc-table__sort-icon {
  background-image: url("/src/assets/images/baseline-arrow_downward-24px.svg");
}

.mdwc-table__cell--toggle {
  max-width: 36px;
  padding: 0;
  width: 36px;
}

.mdwc-table__details-toggle {
  background-image: url("/src/assets/images/baseline-expand_more-24px.svg");
}

.mdwc-table__row--expanded .mdwc-table__details-toggle {
  background-image: url("/src/assets/images/baseline-expand_less-24px.svg");
}

.mdwc-table__row-details > td:first-child {
  padding-top: 0;
}

/* Pagination */
.mdwc-pagination {
  display: flex;
  font-size: 12px;
  justify-content: flex-end;
  padding: 16px 0;
}

.mdwc-pagination > div {
  color: #767676;
  margin-left: 20px;
}

.mdwc-pagination .mdwc-btn,
.mdwc-pagination .mdwc-form-select {
  font-size: 12px;
  padding: 0 8px;
  height: 32px;
}

.mdwc-pagination .mdwc-btn--icon {
  width: 32px;
}

.mdwc-pagination .mdwc-form-select {
  padding-right: 20px;
}

/* Dialog */
.mdwc-dialog,
.mdwc-dialog__scrim {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

.mdwc-dialog {
  visibility: hidden;
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
  z-index: 5;
}

.mdwc-dialog--open {
  visibility: visible;
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.mdwc-dialog__scrim {
  background-color: rgba(0, 0, 0, 0.32);
  opacity: 0;
  transition: opacity 0.25s;
  z-index: -1;
}

.mdwc-dialog--open .mdwc-dialog__scrim {
  opacity: 1;
}

.mdwc-dialog__container,
.mdwc-dialog__surface {
  display: flex;
}

.mdwc-dialog__container {
  flex-direction: row;
  justify-content: space-around;
  opacity: 0;
  transform: scale(0.8);
  transition: opacity 0.25s 0s, transform 0.25s;
}

.mdwc-dialog--open .mdwc-dialog__container {
  opacity: 1;
  transform: scale(1);
}

.mdwc-dialog__surface {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.2),
    0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12);
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  max-height: calc(100vh - 32px);
  max-width: calc(100vw - 32px);
  min-width: 280px;
}

.mdwc-dialog__title {
  border-bottom: 1px solid transparent;
  flex-shrink: 0;
  font-size: 20px;
  font-weight: 500;
  margin: 0;
  padding: 24px 24px 7px;
}

.mdwc-dialog__content {
  flex-grow: 1;
  line-height: 1.5;
  margin: 0;
  overflow: auto;
  padding: 20px 24px;
}

.mdwc-dialog__title + .mdwc-dialog__content {
  padding-top: 0;
}

.mdwc-dialog__content:first-child {
  margin-top: 0;
}

.mdwc-dialog__actions {
  align-items: center;
  border-top: 1px solid transparent;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  min-height: 52px;
  padding: 8px 8px 7px;
}

.mdwc-dialog--scrollable .mdwc-dialog__title {
  padding-bottom: 15px;
}

.mdwc-dialog--scrollable .mdwc-dialog__title,
.mdwc-dialog--scrollable .mdwc-dialog__actions {
  border-color: #e1e1e1;
}

@media (min-width: 600px) {
  .mdwc-dialog__surface {
    max-width: 560px;
  }
}
